<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>activities</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <nav>
            <ul id="nav">
                <li><a href="/ui">Main</a></li>
                <li><a href="/ui/users">Handle Users</a></li>
                <li><a href="/ui/activities">Activity Report</a></li>
                <li><a href="/ui/">Weekly Report</a></li>
                <li><a href="/docs">Docs</a></li>
            </ul>
        </nav>
        <div id="title">
            <h1>Activity report</h1>
        </div>
        {% if message%}
        <p style="color: mediumspringgreen">{{message}}</p>
        {% endif %} {% if error %}
        <p style="color: red">{{error}}</p>
        {% endif %}
        <form method="post" action="/ui/activities">
            <label> Select user: </label>
            <select required="true" id="name" name="name">
                <option>Välj en användare</option>
                {% for u in users %}
                <option value="{{u.id}}">{{ u.name }}</option>
                {% endfor %}
            </select>
            <br />
            <label>Category </label>
            <input type="text" id="category" name="category" />
            <br />
            <label>Key </label>
            <input type="text" id="key" name="key" />
            <br />
            <label>Amount </label>
            <input type="number" id="amount" name="amount" step="any" required/> <br />
            <br />
            <label>Date </label>
            <input type="date" id="date" name="date" />
            <br />
            <button id="save_activity" name="save_activity" type="submit">
                Save
            </button>
            <button
                style="background-color: darkgray"
                type="submit"
                name="action"
            >
                Show List
            </button>
        </form>
        <div id="main">
            <h2>List of Activites</h2>
            <table border="1" cellpadding="6">
                <tr>
                    <th>Category</th>
                    <th>Key</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Åtgärd</th>
                </tr>
                {% for a in activities %}
                    <tr>
                        <th>{{ a.category }}</th>
                        <th>{{ a.key }}</th>
                        <th>{{ a.amount }}</th>
                        <th>{{ a.date }}</th>
                        <th><button>Delete</button></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
