<!DOCTYPE html>

<html lang="sv">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>23brho01</title>
			<style>
			</style>
	</head>
	<style>
	body {
	padding: 8px;
	font-size: 20px;
	}
	</style>
	<body>

		<header id="banner">
		<h1>Jinjalänkar</h1>
			<nav>	<ul>
					<li><a href="/ui/users">Create User</a></li>
					<li><a href="/docs">Docs (Swagger)</a></li>
				</ul>
			</nav>
		</header>
	</body>
</html>
