<!DOCTYPE html>

<html lang="sv">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>23brho01</title>
			<style>
			</style>
	</head>
	<style>
	body {
	font-size: 20px;
	padding: 8px;
	}
	
	input {
	width: 100px;
	height: 20px;
	}
	
	button {
	width: 100px;
	}
	</style>
	<body>
	<h1>Veckorapport</h1>
	
{% if message %}
		<p style="color: green;">{{ message }}</p>
	{% endif %}
	{% if error %}
		<p style="color: red;">{{ error }}</p>
	{% endif %}
	
	<form method="get" action="/ui/reports/points">
		<div class="forms">
		
			<label for="user_id">Visa rapport för:</label>
			<select name="user_id" id="user_id" required>
				<option value="" selected>Välj Användare</option>
				{% for user in users %}
					<option value="{{ user.id }}">{{ user.name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="forms">

			<label for="week_start">Ange veckostart</label>
			<input type="date" id="week_start" name="week_start" required>
			<span>(YYYY-MM-DD, måndag)</span>
		</div>
		
		<button type="submit">Visa</button>
	</form>
	<hr>

    {% if total is not none and not err %}
        <h2>Resultat för veckan</h2>
        <p><strong>Total CO₂e:</strong> {{ total }} kg</p>
        
        {% endif %}
	
	</body>
</html>